<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/header :: header"></head>
<body class="bg-light">
    <div th:replace="fragments/layout/navigation :: main-nav"></div>

    <div class="container">
        <div class="py-5 text-center">
            <p class="lead">Shop</p>
            <h2>로그인</h2>
        </div>

        <div class="row py-2 justify-content-center">
            <div th:if="${signInFail}" class="alert alert-danger" role="alert">
                <p>이메일(또는 닉네임), 패스워드가 정확하지 않습니다.</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <form class="needs-validation col-sm-6" action="#" th:action="@{/sign-in}" th:object="${signInRequest}" method="post" novalidate>
                <div class="form-group">
                    <label for="username">이메일 또는 닉네임</label>
                    <input id="username" type="text" th:field="*{username}" name="username" class="form-control" aria-describedby="emailHelp" required>
                    <small class="invalid-feedback">이메일을 입력하세요.</small>
                </div>
                <div class="form-group">
                    <label for="password">패스워드</label>
                    <input id="password" type="password" th:field="*{password}" name="password" class="form-control" aria-describedby="passwordHelp" required>
                    <small class="invalid-feedback">패스워드를 입력하세요.</small>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-lg" type="submit"
                            aria-describedby="submitHelp">로그인</button>
                    <small id="submitHelp" class="py-2 form-text text-muted">
                        Shop에 처음 오셨나요? 먼저 <a href="#" th:href="@{/sign-up}">회원가입</a>을 하세요.
                    </small>
                </div>
            </form>
        </div>
    </div>

    <!-- Bootstrap js -->
    <script th:replace="fragments/script/main-script :: jquery-script"></script>
    <script th:replace="fragments/script/main-script :: bootstrap-script"></script>

    <!-- 폼 검증 -->
    <script th:replace="fragments/script/form-validation :: form-validation"></script>
</body>
</html>