<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/header :: header"></head>
<body>
  <div th:replace="fragments/layout/navigation :: main-nav"></div>
  <div class="container" th:object="${product}">
    <div class="row mt-5">
      <div class="col-4">
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <img src="/images/default_image.png" class="img-fluid" th:if="${#strings.isEmpty(product.productImage)}">
            <img th:if="${!#strings.isEmpty(product.productImage)}" class="img-fluid"
                 th:src="${product.productImage}" alt="상품 이미지"/>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-sm-2">
            <span>브랜드</span>
          </div>
          <div class="col-sm-10">
            <span th:text="*{brand}"></span>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-2">
            <span>품번</span>
          </div>
          <div class="col-sm-10">
            <span th:text="*{code}"></span>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-2">
            <span>가격</span>
          </div>
          <div class="col-sm-10">
            <span th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')} + 원"></span>
          </div>
        </div>

        <form th:action="@{'/products/' + ${product.id}}" method="post">
          <div class="form-group row mt-3">
            <label for="quantity" class="col-sm-2 col-form-label">수량</label>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-3">
                  <input id="quantity" name="quantity" type="number" value="0" min="0" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mt-3">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">구매하기</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="row mt-4 product-view-divider"></div> -->
    <!--
    <div class="row mt-4">
        <div class="col-12">
            상세정보
        </div>
    </div> -->
  </div>

  <!-- Bootstrap js -->
  <script th:replace="fragments/script/main-script :: jquery-script"></script>
  <script th:replace="fragments/script/main-script :: bootstrap-script"></script>
  <!-- 폼 검증 -->
  <script th:replace="fragments/script/form-validation :: form-validation"></script>
</body>
</html>