<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/header :: header"></head>
<body>
    <!-- NAVIGATION -->
    <div th:replace="fragments/layout/navigation :: main-nav"></div>

    <!-- CONTENT -->
    <div class="container">
    </div>

    <!-- FOOTER -->
    <div th:replace="fragments/layout/footer :: footer"></div>

    <!-- Bootstrap js -->
    <script th:replace="fragments/script/main-script :: jquery-script"></script>
    <script th:replace="fragments/script/main-script :: bootstrap-script"></script>
</body>
</html>