<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 상품 리스트 -->
<div th:fragment="product-list (products)" class="col-sm-12">
  <div class="row">
    <div class="col-md-3" th:each="product : ${products}">
      <div class="card mb-3 shadow-sm" >
        <a th:href="@{'/products/' + ${product.id}}" class="text-decoration-none">
          <img src="/images/default_image.png" class="img-thumbnail" style="padding: 0; border-radius: 0;" th:if="${#strings.isEmpty(product.productImage)}">
          <img th:if="${!#strings.isEmpty(product.productImage)}" class="img-thumbnail" style="padding: 0; border-radius: 0;"
               th:src="${product.productImage}" alt="상품 이미지"/>
        </a>
        <div class="card-body">
          <p class="card-text" th:text="${product.brand}">브랜드</p>
          <p class="card-text">
            <a th:href="@{'/products/' + ${product.id}}" class="text-decoration-none">
              <span th:text="${product.name}">상품명</span>
            </a>
          </p>
          <p class="card-text" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')} + 원">가격</p>
        </div>
      </div>
    </div>
  </div>
</div>