<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 상품 스크립트 -->
<script type="application/javascript" th:fragment="product-script">

    // 저장하기 전, 입력하지 않은 필수 값에 대해 입력 요구하기
    var form_validation = {
        validate : function () {
            var is_empty = false;

            $('#product-new-form').find('.require-validation').each(function(){
                if(!$(this).val()) {
                    $(this).focus();
                    is_empty = true;
                    return false;
                }
            });

            if(is_empty) {
                return false;
            }

            return true;
        }
    }

    var is_duplication_check = false;

    var main = {
        init : function () {
            var _this = this;

            $('#btn-save').on('click', function () {
                _this.save();
            });

            $('#btn-update').on('click', function () {
                _this.update();
            });

            $('#btn-delete').on('click', function () {
                _this.delete();
            });

            $('#btn-validation').on('click', function () {
                _this.validate();
            });

        },
        save : function () {
            var validation_result = form_validation.validate();

            if(!validation_result){
                alert('입력하지 않은 값이 있습니다.');
                return false;
            }

            if(!is_duplication_check){
                alert('상품코드에 대한 중복 확인을 진행 하세요.');
                return false;
            }

            /* Ajax 요청 */
            var data = {
                code: $('#code').val(),
                name: $('#name').val(),
                brand: $('#brand').val(),
                price: $('#price').val(),
                description: $('#description').val(),
                productImage: $('#productImage').val()
            };

            $.ajax({
                type: 'POST',
                url: '/api/v1/products',
                contentType:'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function() {
                alert('상품 등록을 완료하였습니다.');
                window.location.href = '/products/create';
            }).fail(function(xhr, status, error) {
                alert('상품 등록에 실패했습니다.');
                window.location.href = '/products/create';
            });
        },
        update : function () {
            var validation_result = form_validation.validate();

            if(!validation_result){
                alert('입력하지 않은 값이 있습니다.');
                return false;
            }

            var id = $('#id').val();

            /* Ajax 요청 */
            var data = {
                code: $('#code').val(),
                name: $('#name').val(),
                brand: $('#brand').val(),
                price: $('#price').val(),
                description: $('#description').val(),
                productImage: $('#productImage').val()
            };

            $.ajax({
                type: 'PUT',
                url: '/api/v1/products/' + id,
                contentType:'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function() {
                alert('상품 수정을 완료하였습니다.');
                window.location.href = '/products/list';
            }).fail(function(xhr, status, error) {
                alert('상품 수정에 실패했습니다.');
            });
        },
        delete : function () {
            var id = $('#id').text(); // 값이 존재하는 대상이 테이블이므로 val()이 아닌 text()를 사용해야 한다.

            $.ajax({
                type: 'DELETE',
                url: '/api/v1/products/' + id,
                contentType:'application/json; charset=utf-8',
            }).done(function() {
                alert('상품 삭제를 완료하였습니다.');
                window.location.href = '/products/list';
            }).fail(function(xhr, status, error) {
                alert('상품 삭제에 실패했습니다.');
            });
        },
        validate : function () {
            /* Ajax 요청 */
            if(!$('#code').val()) {
                $('#code').focus();
                alert('상품코드를 입력하세요.');
                return false;
            }

            var data = {
                code: $('#code').val()
            };

            $.ajax({
                type: 'POST',
                url: '/api/v1/products/validate-product-code',
                contentType:'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function() {
                is_duplication_check = true;
                alert('사용할 수 있는 상품코드입니다.');
            }).fail(function(xhr, status, error) {
                /*** TODO: 에러 메시지를 표시하는 부분 개선하기 (START) ***/
                //var responseJSON = JSON.parse(xhr.responseText);
                /* responseJSON는 아래와 같은 JSON를 갖는다. (스프링 부트의 기본 에러 핸들러가 응답하는 JSON를 기준으로 설명한다.)
                   {timestamp: '2022-07-01T09:39:54.803+00:00', status: 500, error: 'Internal Server Error', path: '/api/v1/products/validate'} */
                //alert(responseJSON.timestamp);
                /*** TODO: 에러 메시지를 표시하는 부분 개선하기 (END) ***/

                alert('에러가 발생했습니다.');
            });
        }
    };

    main.init();
</script>